body {
  background-color: #f7f7f7;
  padding-top: 50px;
  font-family: "Comfortaa", cursive;
}

h1,
strong {
  color: #ea8663;
}

h2,
p {
  color: #61564a;
}

h3,
h4,
h5 {
  color: #ffffff;
}

h1 {
  font-size: 150px;
  font-weight: bolder;
  text-align: center;
  line-height: 0.8em;
}

h2 {
  line-height: 0.8em;
  text-transform: lowercase;
  text-align: center;
}

h3 {
  text-align: left;
  margin: 0px;
  font-size: 28px;
}

h5 {
  text-align: center;
  margin: 0px;
}

p {
  text-align: right;
  font-size: 10px;
  margin: 0px;
  text-transform: lowercase;
}

footer {
  background-color: #d3d2bf;
  padding: 30px 40px;
}

.container {
  width: 600px;
}

.forecast {
  background-color: #d3d2bf;
}

.search {
  padding: 15px 15px 20px;
  background-color: #d3d2bf;
}

.form-control {
  margin: 20px 20px;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}

.form-control:focus {
  border-color: #ea8663;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(232, 170, 140, 0.6);
}

.btn {
  padding: 12px 15px;
  color: #616161;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  color: #ea8663;
  transform: scale(135%);
}

a {
  text-decoration: none;
}

.degrees .active {
  color: #ea8663;
  cursor: default;
}

.degrees .active:hover {
  text-decoration: none;
}

.main-visual {
  background-color: #d3d2bf;
  padding: 15px 40px 40px;
}

.main-image {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 50px;
  width: 200px;
}

.col-4 {
  text-align: right;
  line-height: 1.5em;
}

.col-8 {
  text-align: left;
  line-height: 1.5em;
}

.country-code {
  color: #ea8663;
}

.info {
  background-color: #b9b8a4;
  padding: 0px 40px;
}

.location-date {
  padding: 30px 0px;
}

.forecast {
  padding: 30px 40px 0px;
}

.forecast-images {
  display: block;
  margin: 0px 25px 25px;
  width: 40px;
}

a {
  color: #ffffff;
}

a:hover {
  color: #e8aa8c;
}
