body {
  background-color: #ffffff;
  font-family: "Comfortaa", cursive;
}

h1,
strong {
  color: #ea8663;
}

h2,
h3,
h4,
h5 {
  color: #ffffff;
}

h1 {
  font-size: 130px;
  font-weight: bolder;
  text-align: center;
  line-height: 0.8em;
}

h2 {
  font-size: 45px;
  line-height: 0.8em;
  text-transform: lowercase;
  text-align: center;
}

h3 {
  text-align: left;
  margin: 0px;
  font-size: 38px;
}

h4 {
  font-size: 25px;
}

h5 {
  text-align: center;
  margin: 0px;
}

p {
  color: #61564a;
  text-align: right;
  font-size: 12px;
  margin: 0px;
  text-transform: lowercase;
  line-height: 0.5em;
}

header {
  padding: 20px;
}

footer {
  background-color: #d3d2bf;
  padding: 35px;
}

.container {
  width: 600px;
}

.forecast {
  background-color: #d3d2bf;
  padding: 40px 40px 20px;
}

.search {
  padding: 8px 15px 0px;
  background-color: #d3d2bf;
}

.form-control {
  margin: 20px 0px 20px 20px;
  padding: 10px;
  font-family: "Comfortaa", cursive;
  font-size: 12px;
}

.form-control:focus {
  border-color: #ea8663;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(232, 170, 140, 0.6);
}

.btn {
  padding: 12px 15px;
  color: #616161;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  color: #ea8663;
  transform: scale(135%);
}

a {
  text-decoration: none;
}

.units {
  font-size: 25px;
  color: #61564a;
}

.degrees .active {
  color: #ea8663;
  font-weight: bold;
  cursor: default;
}

.degrees .active:hover {
  text-decoration: none;
}

.time {
  margin: 0px;
  color: #ea8663;
  text-align: right;
}

.main-visual {
  background-color: #d3d2bf;
  padding: 5px 40px 65px;
}

.main-image {
  display: block;
  margin: 0 auto;
  padding: 0px 0px 40px;
  width: 275px;
}

.city {
  text-align: left;
  line-height: 1.5em;
}

.date {
  text-align: right;
  line-height: 1.5em;
  margin: 12px 0px 0px;
}

.country-code {
  font-weight: bold;
  color: #ea8663;
}

.day {
  text-align: right;
}

.info {
  background-color: #b9b8a4;
  padding: 0px 40px;
}

.location-date {
  padding: 30px 0px;
}

.forecast {
  padding: 30px 40px 0px;
}

.forecast-images {
  display: block;
  margin: 20px auto;
  width: 40px;
}

a {
  color: #ffffff;
  display: inline;
}

a:hover {
  color: #ea8663;
}
